# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Django
*.log
db.sqlite3
staticfiles/
media/
.env
.env.local
.env.prod

# Vite build output
static/dist/
static/.vite/

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml

# mypy
.mypy_cache/
.dmypy.json

# ruff
.ruff_cache/

# pytest
.pytest_cache/

#other
.github/
.pytest_cache/
deploy.sh